<ion-view view-title="Add to Set List" cache-view="false">
  <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left"><button class="button" ng-click="back()"><i class="ion-ios-arrow-back"></i></button></ion-nav-buttons>
      
  </ion-nav-bar>

  <ion-content class="padding">
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="setlist in setlists" type="item-text-wrap">
          <img ng-src="http://thumbs.dreamstime.com/x/music-logo-13731704.jpg" ng-click="go({{setlist.setlistId}})">
          <h2 ng-click="go({{setlist.setlistId}})">{{setlist.setlistName}}</h2>
          <p ng-click="go({{setlist.setlistId}})"><span>{{setlist.setlistSongs.length}}</span> Tracks, by <span style="color: #00cc44;">{{setlist.ownerId}}</span></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
