<ion-view view-title="Setlisterr" cache-view="false">
  <ion-nav-bar class="bar-light">
        <ion-nav-buttons side="left"><button class="button" ng-click="back()"><i class="ion-ios-arrow-back"></i></button></ion-nav-buttons>

  </ion-nav-bar>

  <ion-content class="padding">

      <div class="notification" ng-class="{'success': hasParams}">
        <p>{{msg}}</p>
      </div>
      
      <ion-item class="item-remove-animate item-avatar item-icon-right" ng-repeat="setlist in setlists" type="item-text-wrap" ng-click="addTo({{setlist}})">
            <img ng-src="http://thumbs.dreamstime.com/x/music-logo-13731704.jpg">
            <h2>{{setlist.title}}</h2>
            <p ><span>{{setlist.songs.length}}</span> Tracks, by <span style="color: #00cc44;">{{setlist.owner}}</span></p>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
