<ion-view view-title="Songs" cache-view="false">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="right"><button class="button" ng-click="addNewSong()"><i class="ion-plus-round"></i></button></ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding search">
    <!-- <div class="container browse">
      <div class="buttonGroup browse">
            <div class="query" ng-click="readConnection()" ng-class="{'underline': isActiveOne}"><p>All</p></div>
            <div class="query disabled" ng-click="return;" ng-class="{'underline': isActiveThree}"><p>Offline</p></div>
      </div>
    </div> -->

    <div class="notification" ng-class="{'success': hasParams}">
      <p>{{msg}}</p>
    </div>

    <ion-list ng-hide="offline" class="template-browse">
      <ion-item class="wrapper" ng-repeat="song in songs" type="item-text-wrap" >
          <ion-side-menus enable-menu-with-back-views="true" >
            <ion-side-menu-content edge-drag-threshold="50">
                <div class="list-item" ng-click="go({{song}})">
                  <img ng-src="{{song.albumArt}}">
                  <i class="ion-ios-locked"></i>
                  <div class="item-content">
                    <h2 ng-click="go({{song}})" class="heading">{{song.title}}</h2>
                    <p ng-click="go({{song}})" class="subheading"><span>{{song.albumName}}</span> by <span>{{song.artist}}</span></p>
                  </div>
                </div>
            </ion-side-menu-content>
            <ion-side-menu  side="left" width="60" class="sideMenuParent">
              <ion-content class="sideMenu">
                <a class="button" ng-click="addToSetlist({{song}})">
                  <i class="ion-android-add-circle"></i>
                </a>
                <a class="button two" ng-click="saveOffline({{song}})">
                  <i class="ion-code-download"></i>
                </a>
                <a class="button two" ng-click="delete({{song}})">
                  <i class="ion-trash-a"></i>
                </a>
              </ion-content>
            </ion-side-menu>
          </ion-side-menus>
      </ion-item>
    </ion-list>
    <ion-list ng-show="offline">
      <ion-item class="wrapper" ng-repeat="localSong in localSongs" type="item-text-wrap" >
          <ion-side-menus enable-menu-with-back-views="true" >
            <ion-side-menu-content edge-drag-threshold="50">
                <div class="listItem" ng-click="go({{localsong}})">
                  <h2 ng-click="go({{localsong}})" class="heading">{{localsong.title}}</h2>
                  <p ng-click="go({{localsong}})" class="subheading">{{localsong.artist}} | {{localsong.albumName}}</p>
                </div>
            </ion-side-menu-content>
            <ion-side-menu  side="left" width="60" class="sideMenuParent">
              <ion-content class="sideMenu">
                <a class="button" ng-click="addToSetlist({{localsong}})">
                  <i class="ion-android-add-circle"></i>
                </a>
              </ion-content>
            </ion-side-menu>
            <ion-side-menu  side="right" width="120">
              <ion-content class="sideMenu">
                <a class="button two" ng-click="saveOffline({{localsong}})">
                  <i class="ion-code-download"></i>
                </a>
                <a class="button two" ng-click="delete({{localsong}})">
                  <i class="ion-trash-a"></i>
                </a>
              </ion-content>
            </ion-side-menu>
          </ion-side-menus>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
