<ion-view view-title="Setlisterr" cache-view="false">
  <ion-nav-bar class="bar-light">
    <ion-nav-buttons side="right"><button class="button" ng-click="addNewSong()"><i class="ion-plus-round"></i></button></ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding search">
    <div class="container browse">
    

    <div class="buttonGroup songs">
          <div class="query" ng-click="showResults('owned')" ng-class="{'underline': showOwned}"><p>Owned</p></div>
          <div class="query" ng-click="showResults('all')" ng-class="{'underline': showAll}"><p>All</p></div>
    </div>

    <div class="notification" ng-class="{'success': hasParams}">
      <p>{{msg}}</p>
    </div>

    <ion-list class="template-browse">
      <ion-item class="wrapper" ng-repeat="song in songs" type="item-text-wrap" >
          <ion-side-menus enable-menu-with-back-views="true" >
            <ion-side-menu-content edge-drag-threshold="50">
                <div class="list-item" ng-click="go({{song}})">
                  <img ng-src="{{song.albumArt}}">
                  <i class="ion-ios-locked"></i>
                  <div class="item-content">
                    <h2 ng-click="go({{song}})" class="heading">{{song.title}}</h2>
                    <p ng-click="go({{song}})" class="subheading"><span>{{song.albumName}}</span> by <span>{{song.artist}}</span></p>
                  </div>
                </div>
            </ion-side-menu-content>
            <ion-side-menu  side="left" width="60" class="sideMenuParent">
              <ion-content class="sideMenu">
                <a class="button" ng-click="addToSetlist({{song}})">
                  <i class="ion-android-add-circle"></i>
                </a>
                <a class="button two" ng-click="saveOffline({{song}})">
                  <i class="ion-code-download"></i>
                </a>
                <a class="button two" ng-click="delete({{song}})">
                  <i class="ion-trash-a"></i>
                </a>
              </ion-content>
            </ion-side-menu>
          </ion-side-menus>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
