<ion-view hide-nav-bar="true">
	<ion-content class="template-login">
		<div class="loginForm">
			<label class="dev-message" ng-class="{'show': devmode}">Username: demo // Password: password</label>
			<form ng-submit="verify()" name="form.login">
				<input type="text" placeholder="username" ng-model="model.username" required>
				<input type="password" placeholder="pasword" ng-model="model.password" required>
				<label class="error-label" ng-class="{'show': invalid}">Invalid credentials. Please try again.</label>
				<button type="submit">
					<div>LOGIN</div>
				</button>
			</form>
			
		</div>
	</ion-content>
</ion-content>