<ion-view view-title="New Role" cache-view="false">
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left"><button class="button" ng-click="back()"><i class="ion-ios-arrow-back"></i></button></ion-nav-buttons>
        <ion-nav-buttons side="right"><button class="button" ng-click="verify()"><i class="ion-android-checkmark-circle"></i></button></ion-nav-buttons>
    </ion-nav-bar>
      <ion-content class="padding">
        <div class="info edit song">
            <form ng-submit="verify()" name="form.newSong" novalidate="">
                <p class="required" ng-show="req">Some fields are required.</p>
                <label>New Role:</label>
                <input type="text" placeholder="Role Name" ng-model="model.roleName" required>
            </form>
        </div>
      </ion-content>
</ion-view>
