<ion-view view-title="Setlisterr" cache-view="false">
  <ion-nav-bar class="bar-light">

  </ion-nav-bar>

  <ion-content class="padding search">
      <form name="form.search" ng-submit="search()">
        <input type="text" placeholder="Search Query" ng-model="model.query" required ng-click="model.query = '';">
        <button type="submit" class="searchBtn"><i class="ion-ios-search-strong"></i></button>
      </form>
      <div class="container">
        <div class="buttonGroup">
              <div class="query" ng-click="activateOne()" ng-class="{'underline': isActiveOne}"><p>Title</p></div>
              <div class="query" ng-click="activateTwo()" ng-class="{'underline': isActiveTwo}"><p>Artist</p></div>
              <div class="query" ng-click="activateThree()" ng-class="{'underline': isActiveThree}"><p>Album</p></div>
              <div class="query" ng-click="activateFour()" ng-class="{'underline': isActiveFour}"><p>Setlist</p></div>
              <!-- <div class="query" ng-click="activateFive()" ng-class="{'underline': isActiveFive}"><p>Allv</p></div> -->
        </div>
      </div>

      <ion-list class="template-search-songs">
        <ion-item class="wrapper" ng-repeat="song in songs" type="item-text-wrap" ng-show="val">
          <div class="list-item">
            <img ng-src="{{song.doc.albumArt}}">
            <div class="song-content">
              <div ng-click="goSong({{song}})" class="song-details">
                  <h2 class="heading">{{song.doc.title}}</h2>
                  <p class="subheading"><span>{{song.doc.albumName}}</span> by <span>{{song.doc.artist}}</span></p>
              </div>
              <div class="buttons">
                  <a ng-click="addToSetlist({{song}})">
                    <i class="ion-android-add-circle"></i>
                  </a>
                  <a>
                    <i class="ion-code-download"></i>
                  </a>
                  <a ng-click="delete({{song}})">
                    <i class="ion-trash-a"></i>
                  </a>
              </div>
            </div>
          </div>
        </ion-item>
      </ion-list>
      <ion-list class="template-search-setlists">
        <ion-item class="wrapper" ng-hide="val" ng-repeat="setlist in setlists" type="item-text-wrap" ng-click="goSetlist({{setlist}})">
            <div class="list-item">
              <div ng-click="goSetlist({{setlist}})" class="setlist-details">
                <h2 class="heading">{{setlist.doc.title}}</h2>
                <p class="subheading"><span>{{setlist.doc.songs.length}}</span> Tracks, by <span style="color: #00cc44;">{{setlist.doc.owner}}</span></p>
              </div>
              <div class="setlist-options">
                <a ng-click="practice()">
                  <i class="ion-ipod"></i>
                </a>
                <a>
                  <i class="ion-code-download"></i>
                </a>
                <a ng-click="deleteItem({{setlist}})">
                  <i class="ion-trash-a"></i>
                </a>
              </div>
            </div>
        </ion-item>
      </ion-list>


    </ion-list>
  </ion-content>
</ion-view>
