<ion-view view-title="{{title}}" cache-view="false">
  <ion-nav-bar class="bar-dark">
    <ion-nav-buttons side="right"><button class="button" ng-click="goSpotify()"><img src="img/spotify.png"></button></ion-nav-buttons>
    <ion-nav-buttons side="left"><button class="button" ng-click="back()"><i class="ion-ios-arrow-back"></i></button></ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding action">
    <ion-list>
      <ion-item class="wrapper" ng-repeat="song in songs" type="item-text-wrap" ng-click="go({{song.songId}})">
          <ion-side-menus>
            <ion-side-menu-content edge-drag-threshold="50"> 
                <div class="listItem" ng-click="go({{song.songId}})">
                  <h2 ng-click="go({{song.songId}})" class="heading">{{song.title}}</h2>
                  <p ng-click="go({{song.songId}})" class="subheading"><span>{{song.albumName}}</span> by <span>{{song.artist}}</span></p>
                </div>
            </ion-side-menu-content>
            <ion-side-menu side="right" width="80">
              <ion-content class="sideMenu">
                <a class="button" ng-click="delete({{song.songId}})">
                  <i class="ion-minus-circled"></i>
                </a>                
              </ion-content>
            </ion-side-menu>            
          </ion-side-menus>
      </ion-item>
      <p class="pinMsg" ng-show="!songs.length">There are no songs in this setlist.</p>
    </ion-list>
  </ion-content>
</ion-view>
