<ion-view view-title="Setlists" cache-view="false">
  <ion-nav-bar class="bar-dark">
    
    <ion-nav-buttons side="right"><button class="button" ng-click="addSetlist()"><i class="ion-plus-round"></i></button></ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding action">
      <ion-item class="wrapper" ng-repeat="setlist in setlists" type="item-text-wrap">
         <ion-side-menus>
            <ion-side-menu-content edge-drag-threshold="50"> 
                <div class="listItem" style="overflow:hidden;">
                  <div style="float:left; border: none;" ng-click="go({{setlist.setlistId}})">
                    <h2 class="heading">{{setlist.setlistName}}</h2>
                    <p class="subheading"><span>{{setlist.setlistSongs.length}}</span> Tracks, by <span style="color: #00cc44;">{{setlist.ownerId}}</span></p>
                  </div>
                  <i class="ion-android-more-vertical" style="float:right; color: #1a1a1a;" ng-click="goInfo({{setlist.setlistId}})"></i>
                </div>
            </ion-side-menu-content>
            <ion-side-menu side="left" width="60" class="sideMenuParent">
              <ion-content class="sideMenu">
                <a class="button" ng-click="practice({{setlist.setlistId}})">
                  <i class="ion-ipod"></i>
                </a>
              </ion-content>
            </ion-side-menu>
            <ion-side-menu side="right" width="120">
              <ion-content class="sideMenu">
                <a class="button two">
                  <i class="ion-code-download"></i>
                </a>
                <a class="button two" ng-click="deleteItem({{setlist.setlistId}})">
                  <i class="ion-trash-a"></i>
                </a>                
              </ion-content>
            </ion-side-menu>            
          </ion-side-menus>
      </ion-item>
  </ion-content>
</ion-view>
