
<ion-view view-title="Setlisterr" cache-view="false">
  <ion-nav-bar class="bar-light">
        <ion-nav-buttons side="left"><button class="button" ng-click="back()"><i class="ion-ios-arrow-back"></i></button></ion-nav-buttons>
  </ion-nav-bar>
  <ion-content class="padding action">
     <ion-list >
      <ion-item class="songAction" type="item-text-wrap" ng-click="editRoles()">
          <img src="img/spotify.png" class="spotify">
          <h2>View in Spotify</h2>
      </ion-item>
      <ion-item class="songAction" type="item-text-wrap" ng-click="viewDetails()">
      <i class="ion-ios-bookmarks-outline"></i>
          <h2>View Band Assignments</h2>
      </ion-item>
      <ion-item class="songAction" type="item-text-wrap" ng-click="sendEmail()">
          <i class="ion-email-unread"></i>
          <h2>Send E-mail</h2>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
