<ion-view view-title="Setlists" cache-view="false">
  <ion-nav-bar class="bar-dark">

    <ion-nav-buttons side="right"><button class="button" ng-click="addSetlist()"><i class="ion-plus-round"></i></button></ion-nav-buttons>
  </ion-nav-bar>

  <ion-content class="padding action">
    <div class="container browse">
      <div class="buttonGroup browse">
            <div class="query" ng-click="showResults('owned')" ng-class="{'underline': showOwned}"><p>Owned</p></div>
            <div class="query" ng-click="showResults('all')" ng-class="{'underline': showAll}"><p>All</p></div>
      </div>
    </div>

    <div class="notification" ng-class="{'success': hasParams}">
      <p>{{msg}}</p>
    </div>

    <ion-list ng-hide="offline" class="template-setlist">
      <ion-item class="wrapper" ng-repeat="setlist in setlists" type="item-text-wrap">
         <ion-side-menus enable-menu-with-back-views="true" >
            <ion-side-menu-content edge-drag-threshold="50">
                <div class="listItem" style="overflow:hidden;">
                  <div style="border: none; display: inline-block; width: 80%;" ng-click="go({{setlist}})">
                    <p class="tracks">{{setlist.songs.length}}</p>
                    <label class="tracks-label">Tracks</label>
                    <div class="setlist-content">
                      <h2 class="heading">{{setlist.title}}</h2>
                      <p class="owner">{{setlist.owner}}</p>
                    </div>
                    <!-- <p class="subheading">
                      <span>{{setlist.songs.length}}</span> Tracks, 
                      <span style="color: #00cc44;">{{setlist.owner}}</span>
                    </p> -->
                  </div>
                  <i class="ion-android-more-vertical" style="display: inline-block; width: 18%; text-align: right; color: #1a1a1a;" ng-click="goInfo({{setlist}})"></i>
                </div>
            </ion-side-menu-content>
            <ion-side-menu  side="left" width="60" class="sideMenuParent">
              <ion-content class="sideMenu">
                <a class="button" ng-click="practice({{setlist}})">
                  <i class="ion-ipod"></i>
                </a>
                <a class="button" ng-click="save({{setlist}})">
                  <i class="ion-bookmark"></i>
                </a>
                <a class="button two" ng-click="deleteItem({{setlist}})">
                  <i class="ion-trash-a"></i>
                </a>
              </ion-content>
            </ion-side-menu>
            <!-- <ion-side-menu  side="right" width="120">
              <ion-content class="sideMenu">
                <a class="button two">
                  <i class="ion-code-download"></i>
                </a>
                <a class="button two" ng-click="deleteItem({{setlist}})">
                  <i class="ion-trash-a"></i>
                </a>
              </ion-content>
            </ion-side-menu> -->
          </ion-side-menus>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
