<ion-view view-title="{{song.title}}" cache-view="false">
    <ion-nav-title>
        <p>{{song.title}}</p>
    </ion-nav-title>
    <ion-nav-bar class="bar-dark">
        <ion-nav-buttons side="left"><button class="button" ng-click="back()"><i class="ion-ios-arrow-back"></i></button></ion-nav-buttons>
        <ion-nav-buttons side="right"><button class="button" ng-click="editSong({{song.songId}})"><i class="ion-edit"></i></button></ion-nav-buttons>
    </ion-nav-bar>
      <ion-content class="padding">
        <img ng-src="{{song.albumCover}}" style="width: 125px; height: 125px; display: block; margin: 20px auto;">
        <p style="text-align: center; font-size 20px; font-weight: bold;">{{song.title}}</p>
        <p style="text-align: center; font-size: 14px;">by {{song.artist}}</p>

        <div class="info centered">
        	<p>Additional Information:</p>

        	<label>Album: </label>
        	<span>{{song.albumName}}</span>

        	<label>Key: </label>
        	<span>{{song.key}}</span>

            <label>Tags: </label>
            <span>{{song.tags}}</span>

            <label>Youtube URL: </label>
            <span style="color: #33adff;">{{song.urlYoutube}}</span>

            <label>Spotify URL: </label>
            <span style="color: #33adff;">{{song.urlSpotify}}</span>

            <label>Other URL: </label>
            <span style="color: #33adff;">{{song.urlOther}}</span>
        </div>
      </ion-content>
</ion-view>
