
<ion-tabs class="tabs-icon-top tabs-color-active-positive">

  <ion-tab title="Search" icon="ion-android-search" href="#/tab/search">
    <ion-nav-view name="search" cache-view="false"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Songs" icon="ion-ios-musical-notes" href="#/tab/browse">
    <ion-nav-view name="songs" cache-view="false"></ion-nav-view>
  </ion-tab>

   <ion-tab title="Practice" icon="ion-ios-circle-filled" href="#/tab/practice">
    <ion-nav-view name="practice" cache-view="false"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Set Lists" icon="ion-ios-list" href="#/tab/setlists">
    <ion-nav-view name="setlists" cache-view="false"></ion-nav-view>
  </ion-tab>

  <ion-tab title="Profile" icon="ion-ios-person" href="#/tab/profile" disabled=true>
    <ion-nav-view name="profile" cache-view="false"></ion-nav-view>
  </ion-tab>

</ion-tabs>
